sample-sys-api/src/main/mule/sample-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5db04fbc-7da8-4785-936a-89751c0052b7" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<configuration doc:name="Configuration" doc:id="34b82217-4302-4de5-a4f4-3ae9269d4df7" defaultErrorHandler-ref="global_error_handlerError" />
	<flow name="sample-sys-apiFlow" doc:id="488cf9fe-6381-4e98-9aa9-8893b12a56a7" >
		<http:listener doc:name="Listener" doc:id="648ad7f5-156f-40b7-aa42-df53f36df2fd" config-ref="HTTP_Listener_config" path="/sapi">
			<http:error-response >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="e91463ff-9bc0-473c-bd76-654604f846ea" message="payload"/>
	</flow>
</mule>
